html
    font-size: 62.5%

body
    margin: 0
    padding: 0
    font: 1.6rem/2.2rem MozTT, sans-serif
    color: #000

p
    margin: 1rem

form, .task-box
    margin: 1rem

.hashtag-text
    color: #22AA66

.contact-text
    color: #AA3300
        
.event-text
    color: #009EE5
        
form p div + button[type="reset"]
    position: absolute
    top: 50%
    right: 0
    width: 3rem
    height: 4rem
    padding: 0
    border: none
    font-size: 0
    opacity: 0
    pointer-events: none
    background: transparent url(gaiabb/input_areas/images/icons/clear.png) no-repeat 50% 50% / 1.7rem auto
        
form.skin-dark p div + button[type="reset"]
    background-image: url(gaiabb/input_areas/images/icons/clear-dark.png)
        
form p div + button[type="reset"]
    top: 0
    margin: 0
    
form p div:focus + button[type="reset"]
    opacity: 1
    pointer-events: all
        
.icon-white
    color: white
        
.fa
    left: 30% !important

.img-logo-about
    padding-top: 30px
    
.text-center
    text-align: center

.divbutton
    margin: 10px
        
.notvisible
    display: none
        
.visible
    display: fixed
        
#googlecalendar
    margin: 0
    z-index: 9999
    
[data-type="list"]
    padding: 0
    
[data-type="list"] li
    height: auto
    p
        white-space: initial

[data-type="list"] li[aria-disabled="true"]
    opacity: 1
    p
        opacity: 0.2
[data-type="list"] li[aria-disabled="true"] button
    opacity: 1
    pointer-events: auto
        
section[role="region"]
    background-color: white
    height: 100%
    overflow-y: scroll
        
li .button, li a[role="button"], li button
    margin-left: 0.7rem
    text-align: center
        
.sortable-ghost
    opacity: .2

#index
    height: 100%

[data-position="right"]
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    transform: translateX(100%)
    -webkit-transform: translateX(100%)
    z-index: 15
    z-index: 100
/* -> drawer */

section[role="region"][data-position="right"]
    position: absolute

[data-position="right"]
    &.current
        animation: rightToCurrent 0.4s forwards
        -webkit-animation: rightToCurrent 0.4s forwards
    &.right
        animation: currentToRight 0.4s forwards
        -webkit-animation: currentToRight 0.4s forwards

[data-position="current"]
    &.left
        animation: currentToLeft 0.4s forwards
        -webkit-animation: currentToLeft 0.4s forwards
    &.current
        animation: leftToCurrent 0.4s forwards
        -webkit-animation: leftToCurrent 0.4s forwards

[data-position="back"]
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    z-index: -1
    opacity: 0
/* z-index: 100; -> drawer */
    &.fade-in
        z-index: 120
        animation: fadeIn 0.2s forwards
        -webkit-animation: fadeIn 0.2s forwards
    &.fade-out
        animation: fadeOut 0.2s forwards
        -webkit-animation: fadeOut 0.2s forwards

[data-position="edit-mode"]
    position: absolute
    top: -5rem
    left: 0
    right: 0
    bottom: -7rem
    z-index: -1
    opacity: 0
    transition: all 0.3s ease
    &.edit
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        z-index: 120
        opacity: 1